<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/resources/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/resources/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/resources/css/login/login.css" />
</head>
<body>
	<div class="container-fluid">
	    <div class="row">
	        <div class="loginpanel">
				<i id="loading" class="hidden fa fa-spinner fa-spin bigicon"></i>
	            <h2>
					<span class="fa fa-quote-left "></span> 登录 <span class="fa fa-quote-right "></span>
				</h2>
	            <div>
		            <form id="loginForm" action="submit.htm" method="post">
		                <input id="username" type="text" placeholder="登录账号"/>
		                <input id="password" type="password" placeholder="输入密码" >
		
						<div class="buttonwrapper">
							<button id="loginbtn" class="btn btn-warning loginbutton">
								<span class="fa fa-check"></span>
							</button>
							<span id="lockbtn" class="fa fa-lock lockbutton redborder"></span>
						</div>
					</form>
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript" src="static/resources/lib/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="static/resources/lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/resources/js/common.js"></script>
    <script type="text/javascript" src="static/resources/js/login/login.js"></script>
</body>
 
</html>