<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kelansi.findme.search.dao.SearchMapper" >
	<resultMap type="com.kelansi.findme.domain.User" id="BaseResultMap">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.kelansi.findme.domain.WordMappingBean" id="wordMapping">
		<result column="field" property="field" jdbcType="VARCHAR"/>
		<result column="enum_num" property="enumNum" jdbcType="INTEGER"/>
		<result column="mapping_str" property="mappingStr" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.kelansi.findme.domain.EnumEntryBean" id="enumEntry">
		<result column="enum_key" property="enumKey" jdbcType="VARCHAR"/>
		<result column="enum_value" property="enumValue" jdbcType="INTEGER"/>
		<result column="enum_num" property="enumNum" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="num_begin" property="numBegin" jdbcType="DECIMAL"/>
		<result column="num_end" property="numEnd" jdbcType="DECIMAL"/>
		<result column="id" property="id" jdbcType="BIGINT"/>
	</resultMap>
	
	<resultMap type="com.kelansi.findme.domain.RoomDetailInfo" id="roomDetail">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="create_date" property="createDate" jdbcType="DATE"/>
		<result column="modify_date" property="modifyDate" jdbcType="DATE"/>
		<result column="dealer" property="dealer" jdbcType="INTEGER"/>
		<result column="room_model" property="roomModel" jdbcType="INTEGER"/>
		<result column="size" property="size" jdbcType="INTEGER"/>
		<result column="floor_height" property="floorHeight" jdbcType="INTEGER"/>
		<result column="style" property="style" jdbcType="INTEGER"/>
		<result column="picture_paths" property="picturePaths" jdbcType="VARCHAR"/>
		<result column="media_ids" property="mediaIds" jdbcType="VARCHAR"/>
		<result column="function_space" property="functionSpace" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="getStrByMappingField" resultMap="wordMapping" parameterType="java.lang.String">
		select mapping_str,field,enum_num from findme_word_mapping where field = #{field,jdbcType=VARCHAR}
	</select>
	<select id="getEnumValueByWords" resultMap="enumEntry" parameterType="java.lang.String">
		select * from findme_enum_entry where enum_key = #{key,jdbcType=VARCHAR}
	</select>
	<select id="searchWithSql" resultMap="roomDetail">
		${sql}
	</select>
	<select id="findAllWordMappings" resultMap="wordMapping">
		select * from findme_word_mapping
	</select>
	<select id="findAllEnumEntries" resultMap="enumEntry">
		select * from findme_enum_entry
	</select>
</mapper>