<html lang="en"><head>
<title>Kelansi Admin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/resources/css/bootstrap/bootstrap.min.index.css">
<link rel="stylesheet" href="static/resources/css/bootstrap/bootstrap-responsive.min.css">
<link rel="stylesheet" href="static/resources/css/main/matrix-style.css">
<link rel="stylesheet" href="static/resources/css/main/matrix-media.css">
<link rel="stylesheet" href="static/resources/css/main/main.css">
<link href="static/resources/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Kelansi Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav" style="width: auto; margin: 0px;">
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->

<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul style="display: block;">
    <li class="active menu"><a href="/findme/upload.htm" target="iframe"><span>Upload</span></a> </li>
    <li class="menu"><a href="/findme/upload/images.htm" target="iframe"><span>Upload Images</span></a> </li>
    <li class="menu"><a href="/findme/roomList.htm" target="iframe"><span>Rooms Detail</span></a> </li>
    <li class="menu"><a href="index.html"><span>Config</span></a> </li>
  </ul>
</div>
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a></div>
    <iframe name = "iframe" id="iframepage" frameborder="0" width="100%" height="100%"></iframe>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2015 © Kelansi Admin <a href="#">XXX</a> </div>
</div>

<!--end-Footer-part-->

<script src="static/resources/lib/jquery/jquery.min.js"></script> 
<script src="static/resources/lib/bootstrap/bootstrap.min.index.js"></script> 
<script src="static/resources/js/main/matrix.js"></script> 
<script src="static/resources/js/main/matrix.dashboard.js"></script> 
<script type="text/javascript" language="javascript">   
$(".menu").click(function(){
	$(".menu").removeClass("active");
	$(this).addClass("active");
});  

</script>
</body></html>